<h1><%= title %></h1>
<div class="container">
    <% if (messages && messages.length > 0) { %>
        <% messages.forEach(message => { %>
          <div class="messages <%= message.type %>">
            <p><%= message.text %></p>
          </div>
        <% }) %>
      <% } %>
    
    <h2>Welcome</h2>  
    <p>You're logged in</p>
    <a href="#" class="edit-account">Edit Account Information</a>

</div>


