<header id="top-header">
  <a href="/" title="Return to home page">
    <img src="/images/site/icon.png" alt="icon of CSE Motor">
    <span class="siteName">CSE Motors</span>
  </a>
  <div id="tools">
    <% if (locals.loggedin) { %>
      <a href="/account/" title="Go to account management">Welcome <%= locals.accountData.account_firstname %></a>
      <a href="/account/logout" title="Click to log out">Logout</a>
    <% } else { %>
      <a href="/account/login" title="Click to log in">My Account</a>
    <% } %>
  </div>
</header>